<ion-content>
    <ion-grid>
        <ion-row class='d-flex justify-content-center'>
            <ion-col size-lg="4" offset-lg="0" size-md="6" offset-md="0" size="10" offset="0">
                <ion-card color="light" padding class='d-flex flex-column ion-align-items-center'>
                    <ion-img padding-bottom src="../../assets/Woodgrain_Backdrop.png"></ion-img>
                    <ion-button color="primary" [disabled]="disabled" (click)="onLogin()">{{buttonText}}</ion-button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  